# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.db
*.db-shm
*.lock
*.vsidx
*.db-wal
*.opendb
*.ipch
*.log
*.res
*.tlog
*.recipe
*.iobj
*.ipdb

# macOS files
*.DS_Store

# Doom 64 EX Plus Installer specific
/Setup/Setup-cache/part*/*.cab
/Setup/Setup-cache/part*/*.ini
/Setup/Setup-cache/*.txt
/Setup/Setup-SetupFiles/Doom64EX+ Setup.msi

# Doom 64 EX Plus specific
/Windows/.vs
/Windows/Debug
/Windows/Release
/Windows/x64
Windows/Doom64EX-Plus Launcher.vcxproj.user
Windows/Doom64EXPlus.vcxproj.user
.DS_Store
src/engine/.DS_Store
*.user
*.bak
Windows/DOOM64EX+/x64/Release/Doom64EX+.vcxproj.FileListAbsolute.txt
Windows/DOOM64EX+/x64/Debug/Doom64EX+.vcxproj.FileListAbsolute.txt
Windows/DOOM64.WAD
DOOM64.WAD
*.dll
*.msi
config.cfg
doom64-dc-main/array_fast_copy.S
doom64-dc-main/cover.png
doom64-dc-main/doom64_hemigen/dchemigen.1
doom64-dc-main/doom64_hemigen/dchemigen.c
doom64-dc-main/doom64_hemigen/get_image.c
doom64-dc-main/doom64_hemigen/get_image.h
doom64-dc-main/doom64_hemigen/get_image_jpg.c
doom64-dc-main/doom64_hemigen/get_image_png.c
doom64-dc-main/doom64_hemigen/Makefile
doom64-dc-main/doom64_hemigen/readpng.c
doom64-dc-main/doom64_hemigen/readpng.h
doom64-dc-main/environ.sh
doom64-dc-main/images/bd_settings.png
doom64-dc-main/images/doom64_1031.png
doom64-dc-main/images/doom64_1063.png
doom64-dc-main/images/doom64_1351.png
doom64-dc-main/images/doom64_1641.png
doom64-dc-main/images/doom64_18853.png
doom64-dc-main/images/doom64_24836.png
doom64-dc-main/images/doom64_30473.png
doom64-dc-main/images/doom64_34467.png
doom64-dc-main/images/doom64_4528.png
doom64-dc-main/images/doom64_4740.png
doom64-dc-main/images/doom64_4747.png
doom64-dc-main/images/doom64_4939.png
doom64-dc-main/images/doom64_4959.png
doom64-dc-main/images/doom64_6373.png
doom64-dc-main/images/fragment.png
doom64-dc-main/images/support.png
doom64-dc-main/ip.bin
doom64-dc-main/Makefile
doom64-dc-main/README.md
doom64-dc-main/selfboot/bump.wad
doom64-dc-main/selfboot/controls.ini
doom64-dc-main/selfboot/doom1mn.lmp
doom64-dc-main/selfboot/maps/a
doom64-dc-main/selfboot/maps/map41.wad
doom64-dc-main/selfboot/maps/map42.wad
doom64-dc-main/selfboot/maps/map43.wad
doom64-dc-main/selfboot/maps/map44.wad
doom64-dc-main/selfboot/maps/map45.wad
doom64-dc-main/selfboot/maps/map46.wad
doom64-dc-main/selfboot/maps/map47.wad
doom64-dc-main/selfboot/maps/map48.wad
doom64-dc-main/selfboot/maps/map49.wad
doom64-dc-main/selfboot/mus/e1m1.adpcm
doom64-dc-main/selfboot/mus/e1m2.adpcm
doom64-dc-main/selfboot/mus/e1m3.adpcm
doom64-dc-main/selfboot/mus/e1m4.adpcm
doom64-dc-main/selfboot/mus/e1m5.adpcm
doom64-dc-main/selfboot/mus/e1m6.adpcm
doom64-dc-main/selfboot/mus/e1m7.adpcm
doom64-dc-main/selfboot/mus/e1m8.adpcm
doom64-dc-main/selfboot/mus/e1m9.adpcm
doom64-dc-main/selfboot/mus/musamb01.adpcm
doom64-dc-main/selfboot/mus/musamb02.adpcm
doom64-dc-main/selfboot/mus/musamb03.adpcm
doom64-dc-main/selfboot/mus/musamb04.adpcm
doom64-dc-main/selfboot/mus/musamb05.adpcm
doom64-dc-main/selfboot/mus/musamb06.adpcm
doom64-dc-main/selfboot/mus/musamb07.adpcm
doom64-dc-main/selfboot/mus/musamb08.adpcm
doom64-dc-main/selfboot/mus/musamb09.adpcm
doom64-dc-main/selfboot/mus/musamb10.adpcm
doom64-dc-main/selfboot/mus/musamb11.adpcm
doom64-dc-main/selfboot/mus/musamb12.adpcm
doom64-dc-main/selfboot/mus/musamb13.adpcm
doom64-dc-main/selfboot/mus/musamb14.adpcm
doom64-dc-main/selfboot/mus/musamb15.adpcm
doom64-dc-main/selfboot/mus/musamb16.adpcm
doom64-dc-main/selfboot/mus/musamb17.adpcm
doom64-dc-main/selfboot/mus/musamb18.adpcm
doom64-dc-main/selfboot/mus/musamb19.adpcm
doom64-dc-main/selfboot/mus/musamb20.adpcm
doom64-dc-main/selfboot/mus/musdone.adpcm
doom64-dc-main/selfboot/mus/musfinal.adpcm
doom64-dc-main/selfboot/mus/musintro.adpcm
doom64-dc-main/selfboot/mus/mustitle.adpcm
doom64-dc-main/selfboot/sfx/sfx_bdmissile.wav
doom64-dc-main/selfboot/sfx/sfx_bfg.wav
doom64-dc-main/selfboot/sfx/sfx_bfgexp.wav
doom64-dc-main/selfboot/sfx/sfx_bos1die.wav
doom64-dc-main/selfboot/sfx/sfx_bos1sit.wav
doom64-dc-main/selfboot/sfx/sfx_bos2die.wav
doom64-dc-main/selfboot/sfx/sfx_bos2sit.wav
doom64-dc-main/selfboot/sfx/sfx_bspidie.wav
doom64-dc-main/selfboot/sfx/sfx_bspilift.wav
doom64-dc-main/selfboot/sfx/sfx_bspisit.wav
doom64-dc-main/selfboot/sfx/sfx_bspistomp.wav
doom64-dc-main/selfboot/sfx/sfx_cybdth.wav
doom64-dc-main/selfboot/sfx/sfx_cybhoof.wav
doom64-dc-main/selfboot/sfx/sfx_cybsit.wav
doom64-dc-main/selfboot/sfx/sfx_dart.wav
doom64-dc-main/selfboot/sfx/sfx_darthit.wav
doom64-dc-main/selfboot/sfx/sfx_dartshoot.wav
doom64-dc-main/selfboot/sfx/sfx_dbact.wav
doom64-dc-main/selfboot/sfx/sfx_dbpain1.wav
doom64-dc-main/selfboot/sfx/sfx_dbpain2.wav
doom64-dc-main/selfboot/sfx/sfx_door2dwn.wav
doom64-dc-main/selfboot/sfx/sfx_door2up.wav
doom64-dc-main/selfboot/sfx/sfx_doordown.wav
doom64-dc-main/selfboot/sfx/sfx_doorup.wav
doom64-dc-main/selfboot/sfx/sfx_electric.wav
doom64-dc-main/selfboot/sfx/sfx_explode.wav
doom64-dc-main/selfboot/sfx/sfx_fattatk.wav
doom64-dc-main/selfboot/sfx/sfx_fattdie.wav
doom64-dc-main/selfboot/sfx/sfx_fatthit.wav
doom64-dc-main/selfboot/sfx/sfx_fattsit.wav
doom64-dc-main/selfboot/sfx/sfx_headdie.wav
doom64-dc-main/selfboot/sfx/sfx_headsit.wav
doom64-dc-main/selfboot/sfx/sfx_impact.wav
doom64-dc-main/selfboot/sfx/sfx_impdth1.wav
doom64-dc-main/selfboot/sfx/sfx_impdth2.wav
doom64-dc-main/selfboot/sfx/sfx_implod.wav
doom64-dc-main/selfboot/sfx/sfx_impsit1.wav
doom64-dc-main/selfboot/sfx/sfx_impsit2.wav
doom64-dc-main/selfboot/sfx/sfx_itemup.wav
doom64-dc-main/selfboot/sfx/sfx_laser.wav
doom64-dc-main/selfboot/sfx/sfx_metal.wav
doom64-dc-main/selfboot/sfx/sfx_missile.wav
doom64-dc-main/selfboot/sfx/sfx_noway.wav
doom64-dc-main/selfboot/sfx/sfx_oof.wav
doom64-dc-main/selfboot/sfx/sfx_pedie.wav
doom64-dc-main/selfboot/sfx/sfx_pepain.wav
doom64-dc-main/selfboot/sfx/sfx_pesit.wav
doom64-dc-main/selfboot/sfx/sfx_pistol.wav
doom64-dc-main/selfboot/sfx/sfx_plasma.wav
doom64-dc-main/selfboot/sfx/sfx_plrdie.wav
doom64-dc-main/selfboot/sfx/sfx_plrpain.wav
doom64-dc-main/selfboot/sfx/sfx_posact.wav
doom64-dc-main/selfboot/sfx/sfx_posdie1.wav
doom64-dc-main/selfboot/sfx/sfx_posdie2.wav
doom64-dc-main/selfboot/sfx/sfx_posdie3.wav
doom64-dc-main/selfboot/sfx/sfx_possit1.wav
doom64-dc-main/selfboot/sfx/sfx_possit2.wav
doom64-dc-main/selfboot/sfx/sfx_possit3.wav
doom64-dc-main/selfboot/sfx/sfx_powerup.wav
doom64-dc-main/selfboot/sfx/sfx_pstart.wav
doom64-dc-main/selfboot/sfx/sfx_pstop.wav
doom64-dc-main/selfboot/sfx/sfx_punch.wav
doom64-dc-main/selfboot/sfx/sfx_quake.wav
doom64-dc-main/selfboot/sfx/sfx_rectact.wav
doom64-dc-main/selfboot/sfx/sfx_rectatk.wav
doom64-dc-main/selfboot/sfx/sfx_rectdie.wav
doom64-dc-main/selfboot/sfx/sfx_rectpain.wav
doom64-dc-main/selfboot/sfx/sfx_rectsit.wav
doom64-dc-main/selfboot/sfx/sfx_sargatk.wav
doom64-dc-main/selfboot/sfx/sfx_sargdie.wav
doom64-dc-main/selfboot/sfx/sfx_sargsit.wav
doom64-dc-main/selfboot/sfx/sfx_saw1.wav
doom64-dc-main/selfboot/sfx/sfx_saw2.wav
doom64-dc-main/selfboot/sfx/sfx_sawidle.wav
doom64-dc-main/selfboot/sfx/sfx_sawup.wav
doom64-dc-main/selfboot/sfx/sfx_scratch.wav
doom64-dc-main/selfboot/sfx/sfx_secmove.wav
doom64-dc-main/selfboot/sfx/sfx_sgcock.wav
doom64-dc-main/selfboot/sfx/sfx_shotgun.wav
doom64-dc-main/selfboot/sfx/sfx_sht2fire.wav
doom64-dc-main/selfboot/sfx/sfx_sht2load1.wav
doom64-dc-main/selfboot/sfx/sfx_sht2load2.wav
doom64-dc-main/selfboot/sfx/sfx_skelact.wav
doom64-dc-main/selfboot/sfx/sfx_skullatk.wav
doom64-dc-main/selfboot/sfx/sfx_slop.wav
doom64-dc-main/selfboot/sfx/sfx_spawn.wav
doom64-dc-main/selfboot/sfx/sfx_switch1.wav
doom64-dc-main/selfboot/sfx/sfx_switch2.wav
doom64-dc-main/selfboot/sfx/sfx_telept.wav
doom64-dc-main/selfboot/sfx/sfx_thndrhigh.wav
doom64-dc-main/selfboot/sfx/sfx_thndrlow.wav
doom64-dc-main/selfboot/sfx/sfx_tracer.wav
doom64-dc-main/selfboot/symbols.raw
doom64-dc-main/selfboot/tex/bfgg_nrm.cmp
doom64-dc-main/selfboot/tex/chgg_nrm.cmp
doom64-dc-main/selfboot/tex/lasr_nrm.cmp
doom64-dc-main/selfboot/tex/pisg_nrm.cmp
doom64-dc-main/selfboot/tex/plas_nrm.cmp
doom64-dc-main/selfboot/tex/pung_nrm.cmp
doom64-dc-main/selfboot/tex/rock_nrm.cmp
doom64-dc-main/selfboot/tex/sawg_nrm.cmp
doom64-dc-main/selfboot/tex/sht1_nrm.cmp
doom64-dc-main/selfboot/tex/sht2_nrm.cmp
doom64-dc-main/selfboot/tex/wepn_decs.raw
doom64-dc-main/selfboot/warn3.dt
doom64-dc-main/src/am_main.c
doom64-dc-main/src/bc5_decoder.c
doom64-dc-main/src/c_convert.c
doom64-dc-main/src/d_main.c
doom64-dc-main/src/d_screens.c
doom64-dc-main/src/decodes.c
doom64-dc-main/src/dll.c
doom64-dc-main/src/dll.h
doom64-dc-main/src/doomdata.h
doom64-dc-main/src/doomdef.h
doom64-dc-main/src/doominfo.c
doom64-dc-main/src/doominfo.h
doom64-dc-main/src/doomlib.c
doom64-dc-main/src/f_main.c
doom64-dc-main/src/face/AMMOLIST.xbm
doom64-dc-main/src/face/STFDEAD0.xbm
doom64-dc-main/src/face/STFEVL0.xbm
doom64-dc-main/src/face/STFEVL1.xbm
doom64-dc-main/src/face/STFEVL2.xbm
doom64-dc-main/src/face/STFEVL3.xbm
doom64-dc-main/src/face/STFEVL4.xbm
doom64-dc-main/src/face/STFGOD0.xbm
doom64-dc-main/src/face/STFKILL0.xbm
doom64-dc-main/src/face/STFKILL1.xbm
doom64-dc-main/src/face/STFKILL2.xbm
doom64-dc-main/src/face/STFKILL3.xbm
doom64-dc-main/src/face/STFKILL4.xbm
doom64-dc-main/src/face/STFOUCH0.xbm
doom64-dc-main/src/face/STFOUCH1.xbm
doom64-dc-main/src/face/STFOUCH2.xbm
doom64-dc-main/src/face/STFOUCH3.xbm
doom64-dc-main/src/face/STFOUCH4.xbm
doom64-dc-main/src/face/STFST00.xbm
doom64-dc-main/src/face/STFST01.xbm
doom64-dc-main/src/face/STFST02.xbm
doom64-dc-main/src/face/STFST10.xbm
doom64-dc-main/src/face/STFST11.xbm
doom64-dc-main/src/face/STFST12.xbm
doom64-dc-main/src/face/STFST20.xbm
doom64-dc-main/src/face/STFST21.xbm
doom64-dc-main/src/face/STFST22.xbm
doom64-dc-main/src/face/STFST30.xbm
doom64-dc-main/src/face/STFST31.xbm
doom64-dc-main/src/face/STFST32.xbm
doom64-dc-main/src/face/STFST40.xbm
doom64-dc-main/src/face/STFST41.xbm
doom64-dc-main/src/face/STFST42.xbm
doom64-dc-main/src/face/STFTL00.xbm
doom64-dc-main/src/face/STFTL10.xbm
doom64-dc-main/src/face/STFTL20.xbm
doom64-dc-main/src/face/STFTL30.xbm
doom64-dc-main/src/face/STFTL40.xbm
doom64-dc-main/src/face/STFTR00.xbm
doom64-dc-main/src/face/STFTR10.xbm
doom64-dc-main/src/face/STFTR20.xbm
doom64-dc-main/src/face/STFTR30.xbm
doom64-dc-main/src/face/STFTR40.xbm
doom64-dc-main/src/g_game.c
doom64-dc-main/src/hash.c
doom64-dc-main/src/hash.h
doom64-dc-main/src/i_main.c
doom64-dc-main/src/i_main.h
doom64-dc-main/src/in_main.c
doom64-dc-main/src/m_bbox.c
doom64-dc-main/src/m_fixed.c
doom64-dc-main/src/m_main.c
doom64-dc-main/src/m_password.c
doom64-dc-main/src/md5.h
doom64-dc-main/src/md5c.c
doom64-dc-main/src/p_base.c
doom64-dc-main/src/p_ceilng.c
doom64-dc-main/src/p_change.c
doom64-dc-main/src/p_doors.c
doom64-dc-main/src/p_enemy.c
doom64-dc-main/src/p_floor.c
doom64-dc-main/src/p_inter.c
doom64-dc-main/src/p_lights.c
doom64-dc-main/src/p_local.h
doom64-dc-main/src/p_macros.c
doom64-dc-main/src/p_map.c
doom64-dc-main/src/p_maputl.c
doom64-dc-main/src/p_misc.c
doom64-dc-main/src/p_mobj.c
doom64-dc-main/src/p_move.c
doom64-dc-main/src/p_plats.c
doom64-dc-main/src/p_pspr.c
doom64-dc-main/src/p_setup.c
doom64-dc-main/src/p_shoot.c
doom64-dc-main/src/p_sight.c
doom64-dc-main/src/p_slide.c
doom64-dc-main/src/p_spec.c
doom64-dc-main/src/p_spec.h
doom64-dc-main/src/p_switch.c
doom64-dc-main/src/p_telept.c
doom64-dc-main/src/p_tick.c
doom64-dc-main/src/p_user.c
doom64-dc-main/src/palettes.h
doom64-dc-main/src/r_data.c
doom64-dc-main/src/r_lights.c
doom64-dc-main/src/r_local.h
doom64-dc-main/src/r_main.c
doom64-dc-main/src/r_phase1.c
doom64-dc-main/src/r_phase2.c
doom64-dc-main/src/r_phase3.c
doom64-dc-main/src/s_sound.c
doom64-dc-main/src/sheets.h
doom64-dc-main/src/sndwav.c
doom64-dc-main/src/sndwav.h
doom64-dc-main/src/sounds.h
doom64-dc-main/src/sprinfo.c
doom64-dc-main/src/st_faces.h
doom64-dc-main/src/st_main.c
doom64-dc-main/src/st_main.h
doom64-dc-main/src/tables.c
doom64-dc-main/src/vmu_icon.h
doom64-dc-main/src/w_wad.c
doom64-dc-main/src/z_zone.c
doom64-dc-main/wadtool/build.sh
doom64-dc-main/wadtool/clean.sh
doom64-dc-main/wadtool/d64tool_texs.h
doom64-dc-main/wadtool/decodes.c
doom64-dc-main/wadtool/encode.c
doom64-dc-main/wadtool/imgproc.c
doom64-dc-main/wadtool/imgtypes.h
doom64-dc-main/wadtool/LICENSE
doom64-dc-main/wadtool/lumpinfo.h
doom64-dc-main/wadtool/mapconv.c
doom64-dc-main/wadtool/newd64pals.h
doom64-dc-main/wadtool/newlumpslist.h
doom64-dc-main/wadtool/nonenemy_sheet.h
doom64-dc-main/wadtool/textures.h
doom64-dc-main/wadtool/types.h
doom64-dc-main/wadtool/wadtool.c
